.login-container,
.register-container {
    display: flex;
    background-color: rgb(224, 224, 224);
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 20px;
}

.login-container form,
.register-container form {
    border: solid rgb(0, 170, 255) 5px;
    border-radius: 10px;
    display: flex;
    padding: 50px;
    flex-direction: column;

}

.login-container form button,
.register-container form button {
    text-align: center;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;

    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    align-self: center;

}