/* Hide scrollbar for Chrome, Safari and Opera */
* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;

}

.vid {
    position: absolute;
    position: fixed;
    /* Ensure the video stays in the background */
    top: 0;
    left: 0;
    width: 100%;
    /* Make the video span the full width */
    height: 100%;
    /* Make the video span the full height */
    object-fit: cover;
    z-index: -1;

    width: 100% !important;
}

@media (max-aspect-ratio: 16/9) {
    .vid {
        height: 100%;
        width: auto;
        /* Maintain aspect ratio on taller screens */
    }
}

@media (min-aspect-ratio: 16/9) {
    .vid {
        width: 100%;
        height: auto;
        /* Maintain aspect ratio on wider screens */
    }
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.homecontainer {

    z-index: 1;
    height: 90vh;
    display: flex;
}

.leftmenu {
    width: 15%;
    /*
    background-color: rgba(187, 187, 187, 0.5);
    box-shadow: inset 0 0 10px rgba(109, 109, 109, 0.8);*/
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 1;
    padding: 10px;


}

.bodylist {
    width: 85%;
    /*

    box-shadow: inset 0 0 10px rgba(109, 109, 109, 0.8);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.8);*/
    background-color: rgb(0, 0, 0, 0.6);
    padding: 10px;
}


.overlayleftmenu {

    height: 100%;
    border-radius: 10px;
    padding: 10px;
    border: solid 1px grey;
    /*box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.8);8*/
    background-color: rgba(255, 255, 255, 0.7);



}

.overlaybody {


    height: 100%;
    border-radius: 10px;
    padding: 10px;

    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.5);

}

.add-con {

    height: 15%;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    border: solid 1px grey;
    box-shadow: inset 0 0 100px rgba(56, 56, 56, 0.8);
}

.add-con button {
    background-color: blue;
    margin-right: 20px;
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
}

.menutabs {
    padding-left: 0px;
    list-style-type: none;
    transition: linear;

}

.eachtab {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 6px;
    font-family: Calibri;
    box-shadow: inset 0 0 10px rgba(109, 109, 109, 0.8);
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    border: solid 1px grey;

}

.tabactive {
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.8);
    transform: scale(1.00);
    color: white !important;
}

.tabactive .menubtn {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menubtn {
    background: none;
    border: none;

}

.bookslistcon {

    height: 82%;
    margin-top: 20px;
    border-radius: 10px;
    overflow-y: scroll;

    padding: 20px;

    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.8);
    border: solid 1px grey;
}

.bookslistcon ul {
    padding-left: 0px;
    list-style-type: none;



    border-radius: 10px;


}

.listitemcon {
    height: 22%;

    padding: 5px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    border: solid 1px grey;


}

.qrimagecon {
    height: 100%;
    background-color: red;
    width: 80px;
    height: 80px;
}

.qrimage {
    height: 100%;
    width: 100%;
    opacity: 1.5;
}

.contentbook {
    width: 90%;

    height: 100%;
    gap: 10px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}

.contentbook h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.bookdesc {
    font-family: Calibri;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 100;
    text-overflow: ellipsis;
    max-width: 500px;

}

.contentbook div {
    display: flex;
    font-family: Calibri;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.viewdetailsbtn {
    color: blue;
    background: none;
    border: none;
    cursor: pointer;
}