.navbar {

    margin: 0px;

    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    height: 10vh;



    background-color: rgb(0, 0, 0, 0.6);

    width: 100%;


}

.navoverlay {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;


}

.navoverlay div {}

.navbar h1 {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.navbar button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;

}

.navbar button:hover {
    text-decoration: underline;
}

.navitems {
    display: flex;
    gap: 20px;
}

@media(max-width:768px) {
    .navoverlay h1 {
        font-size: 20px;
    }

    .navoverlay {
        background-color: rgb(248, 248, 248, 0.8);
    }

}